<!DOCTYPE html>
<html>
<head>
    <title>Title of the document</title>
</head>
<body>
    <div th:switch="${requestLogs}">
        <h2 th:case="null">No request logs yet</h2>
        <div th:case="*">
            <h2>Request Logs</h2>
            <table>
                <thead>
                <tr>
                    <th>Request date</th>
                    <th>Currency code</th>
                    <th>Client ip</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="requestLog : ${requestLogs}">
                    <td th:text="${requestLog.requestDate}"></td>
                    <td th:text="${requestLog.currencyCode}"></td>
                    <td th:text="${requestLog.clientIp}"></td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>